<div class="empleados-container">
  <h2>Eliminación Administradores/Empleados</h2>
  <form (ngSubmit)="Enviar()">

    <!-- Indicador de campos requeridos -->
    <p class="campo-requerido-texto">* Campo requerido</p>

    <div class="form-container">
      <div class="form-left">

        <label for="cedula">Número de Cédula: <span class="asterisco">*</span></label>
        <input type="text" id="cedula" name="cedula" [(ngModel)]="cedula" (input)="formatearCedula()" maxlength="11" required placeholder="1-2345-6789">

      </div>
    </div>
    <button type="submit">Eliminar</button>
  </form>

  <button (click)="backToAdmin()" class="boton-volver">Volver</button>
</div>
